{% extends '::base.html.twig' %}
{% trans_default_domain "modify" %}

{% block body -%}
    <h1>ListReason creation </h1>
    {{- form_start(form) -}}
        {{- form_row(form.nameReason) -}}
        {% if form.isUserReason is defined %}
            {{ form_row(form.isUserReason,{'value': app.user.id}) }}
        {% endif %}
        {{ form_end(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('listreason') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
