{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ListReason</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Namereason</th>
                <td>{{ entity.nameReason }}</td>
            </tr>
            <tr>
                <th>Isuserreason</th>
                <td>{{ entity.isUserReason }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('listreason') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('listreason_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
